@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');

content {
    max-width:1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: antiquewhite;
    font-family: 'Roboto Slab', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: rgba(37,41,88,1);
}
nav a:hover {
    background-color: black;
    color: white;
}
.book, .join {
    background-color:rgba(37,41,88,1);
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: black;
    color: white;
    text-align: center;
}
#background {
    background-color: antiquewhite;
}
.msg {
    background-color: antiquewhite;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: black;
    font-family: 'Montserrat', Helvetica, sans-serif;
}
.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color:rgba(37,41,88,1);
    color:white;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: black; 
}
footer p {
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
.home-title {
    color: black;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: black;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
}